name: CI for the super-app

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest

    steps:

    - name: Check out the code
      uses: actions/checkout@v4
      
    - name: Build the Docker node image
      run: docker build ./node --file Dockerfile --tag shahar1041/super-app/node

    - name: Build the Docker php image
      run: docker build ./php --file Dockerfile --tag shahar1041/super-app/php

    # - name: Build containers
    #   run: docker compose up -d 

    - name: Login to dockerhub
      run: docker login -u ${{ secrets.DOCKER_HUB_USER }} -p ${{ secrets.DOCKER_HUB_PASSWORD }}

    - name: Push to dockerhub the node container
      run: docker push shahar1041/super-app/node

    - name: Push to dockerhub the php container
      run: docker push php shahar1041/super-app/php

    # - name: Push to dockerhub the mysql container
    #   run: docker compose push php
