name: CI for the super-app

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest

    steps:

    - name: Check out the code
      uses: actions/checkout@v4
      
    - name: Build containers
      run: docker compose up -d 

    - name: Login to dockerhub
      run: docker login -u ${{ secrets.DOCKER_HUB_USER }} -p ${{ secrets.DOCKER_HUB_PASSWORD }}

    - name: Push to dockerhub the node container
      run: docker push shahar1041/super-app:node

    - name: Push to dockerhub the php container
      run: docker push shahar1041/super-app:php

    - name: Tag the MYSQL container
      run: docker tag mysql:8.0.28 shahar1041/super-app:mysql

    - name: Connect to the MYSQL
      run: docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

    - name: Push to dockerhub the MYSQL container
      run: docker push shahar1041/super-app:mysql



   
