name: CI for the super-app

on:
  # push:
  #   branches: [ "main" ]
  # pull_request:
  #   branches: [ "main" ]
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag super-app

    - name: login to dockerhub
      run: docker login -u ${{ Secrets.docker_hub_user }} -p ${{ Secrets.docker_hub_password }}

    - name: push to dockerhub
      run: docker push shaharamr1041/superapp:
