name: CI for the super-app

on:
  # push:
  #   branches: [ "main" ]
  # pull_request:
  #   branches: [ "main" ]
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest

    steps:

    - name: Check out the code
      uses: actions/checkout@v4
      # with:
      #     node-version: 20.x
    
    # - name: Build the Docker image
    #   run: docker build . --file Dockerfile --tag shahar1041/super-app


    - name: Build containers
      run: docker compose up -d 

    - name: Login to dockerhub
      run: docker login -u ${{ secrets.DOCKER_HUB_USER }} -p ${{ secrets.DOCKER_HUB_PASSWORD }}

    - name: Push to dockerhub
      run: docker-compose push shahar1041/super-app

